blinker==1.4
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.1.1
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-Markdown==0.3
Flask-PageDown==0.2.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.0
lazy==1.4
Markdown==3.1.1
MarkupSafe==1.1.1
mysqlclient==1.4.6
oauthlib==3.0.1
pycparser==2.19
pyOpenSSL==19.0.0
requests==2.22.0
requests-oauthlib==1.3.0
sentry-sdk==0.14.1
six==1.14.0
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.1
urllib3==1.25.8
URLObject==2.4.3
Werkzeug==0.16.1
WTForms==2.2.1
psycopg2==2.8.3
psycopg2-binary==2.8.3
